.testimonials-section {
  background-color: #ffffff;
}

.text-green {
  color: #1abb6b;
}

.testimonial-card {
  background:#F9F0F8;
  border: none;
  border-radius: 16px;
  padding: 10px;
}


.testimonial-text {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 8px; /* ⭐ gap control */
}

.stars {
  color: #090F4E;
  display: flex;
  gap: 4px;

}


.review-content {
  margin-bottom: 24px; /* ⭐ same spacing above border */
}

.user-info {
  border-top: 1px solid #e6e6e6;
  padding-top: 16px;   /* ⭐ same top margin for all */
}

.testimonial-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
}


.nav-btn {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
